/*
* CSS Bootstrap custom style for SciLifeLab
* Uses Bootswatch theme
*/

:root {
  --primary-color: #0093BD;
  --border-color: #e8e8e8;
  --text-color: #1A1A1A;
  --code-bg-color: #f4f4f4;
  --code-inline-color: #d72b3f;
}

/* define font */
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Roboto:400,700');

@font-face {
font-family: 'Lato', 'Roboto', 'DIN', 'Helvetica', sanserif;
}

body {
 font-family: "Lato","Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
 font-size: 16px;
 line-height: 1.5;
}

/* heading sizes */
h1, .h1 {
  font-size: 2.7rem;
  font-weight: 600;
}

h2, .h2 {
  font-size: 2.4rem;
}

h3, .h3 {
  font-size: 2.1rem;
}

h4, .h4 {
  font-size: 1.8rem;
}

h5, .h5 {
  font-size: 1.5rem;
}

h6, .h6 {
  font-size: 1.2rem;
}

/* report title style */
.title {
  margin-bottom: 10px;
  font-size: 3.5rem;
}

/* report subtitle style */
.subtitle {
  font-size: 3rem;
  margin-top: 0px;
  margin-bottom: 10px;
  color: grey;
}

/* author */
.author {
  font-size: 2rem;
  margin-top: 0px;
  margin-bottom: 5px;
}

/* date */
.date {
  margin-top: 0px;
  margin-bottom: 0px;
}


/* code style */
code {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 14px;
}

pre {
    background-color: var(--code-bg-color);
}

.instruction {
 font-size: 18px;
 border: 1px solid var(--border-color);
 border-left: 6px solid var(--primary-color);
 border-radius: 4px 4px 4px 4px;
 padding: 10px 10px 0px 10px;
 margin: 20px 0px 10px 0px;
}

.optional {
 border: 1px solid var(--border-color);
 border-left: 6px solid #EF7C00;
 border-radius: 4px 4px 4px 4px;
 padding: 10px 10px 0px 10px;
 margin: 20px 0px 10px 0px;
}

/* Buttons and Links -------------------------------------------------------- */
/* link colour: scilife */
a {
  color: var(--primary-color);
}

a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

/* floating bar highlight: use scilife green */
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  z-index: 2;
  background-color: var(--primary-color);
  border-color: var(--border-color);
}

/* table even shading colour */
.even {
    background-color: var(--code-bg-color);
}

/* abstract paragraph style */
.abstract {
    line-height: 170%;
}

/* hover effect footer icons */
.footericon:hover {
  opacity: 10;
}

.figure {
 margin-bottom: 12px; 
}

.btn-collapse {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.btn-collapse-normal {
  color: white;
  border-color: var(--primary-color);
  background-color: var(--primary-color);
}

.btn-collapse-normal:hover {
    background-color: white;
    color: var(--primary-color);
    border-color: white;
    box-shadow: 0px 3px 40px -9px var(--primary-color);
    -webkit-box-shadow: 0px 3px 40px -9px var(--primary-color);
    -moz-box-shadow: 0px 3px 40px -9px var(--primary-color);
}

.btn-collapse-optional {
  color: white;
  border-color: #EF7C00;
  background-color: #EF7C00;
}

.btn-collapse-optional:hover {
    background-color: white;
    color: #EF7C00;
    border-color: white;
    box-shadow: 0px 3px 40px -9px #EF7C00;
    -webkit-box-shadow: 0px 3px 40px -9px #EF7C00;
    -moz-box-shadow: 0px 3px 40px -9px #EF7C00;
}
