/* CSS Bootstrap custom style for workshop */
/* 2020 Roy Francis */

/* define font */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i|Ubuntu+Mono&display=swap&subset=latin-ext');

:root {
  --color-primary: #4C979F;
  --color-border: #ccc;
  --color-text: #424949;
  --color-code-bg:  #f4f6f6;
  --color-code-inline: #5d6d7e;
  --color-boxy-bg: #fbfcfc;
  --color-shadow: #E0E0E0;
  --color-optional: #bf6300;
  --font-base: 'Source Sans Pro';
  --font-highlight: 'Source Sans Pro';
  --font-code: 'Ubuntu Mono';
}

/* body font */
/* body font family */
body,p,h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-base, 'Roboto', 'DIN', 'Helvetica', sans-serif);
  /*color: var(--color-text);*/
  font-weight: 400;
  font-size: 17px;
  line-height: 1.55;
}

/* title font family, weight and size */
h1,h2,h3 {
  font-family: var(--font-highlight, 'Roboto', 'DIN', 'Helvetica', sans-serif);
  /*color: var(--color-text);*/
  font-weight: 600;
}

h1 {
  font-size: 1.802em;
}

h2 {
  font-size: 1.602em;
}

h3 {
  font-size: 1.424em;
}

h4 {
  font-size: 1.266em;
}

h5 {
  font-size: 1.266em;
}

h6 {
  font-size: 1.125em;
}

.section .level1 {
  margin-bottom: 2.5em;
}

.section .level2 {
  margin-bottom: 1.8em;
}

.section .level3 {
  margin-bottom: 1.3em;
}

.section .level4 {
  margin-bottom: 1em;
}

/* code style */
pre {
  font-family: var(--font-code,"Menlo","Monaco", "Consolas","Liberation Mono", "Courier New", monospace);
  background-color: var(--color-code-bg);
  border: 1px solid var(--color-border);
  font-size: 16px;
}

code {
  font-family: var(--font-code,"Menlo","Monaco", "Consolas","Liberation Mono", "Courier New", monospace);
  font-size: 16px;
  word-break: break-all;
}

/* report title style */
.title {
  /* margin-top: 11px; */
  margin-bottom: 0;
  font-size: 1.9em;
}

/* report subtitle style */
.subtitle {
  margin-top: -10px;
  margin-bottom: 0;
  font-size: 1.7em;
}

/* report author style */
.author {
  font-size: 1em;
  margin-top: -6px;
  margin-bottom: 5px;
  font-weight: 600;
}

/* report date style */
.date {
  margin-top: 0;
  margin-bottom: 10px;
}

/* new font size classes */
.largest { font-size: 2.488em; }
.larger { font-size: 2.074em; }
.large { font-size: 1.44em;}
.medium { font-size: 1.2em;}
.small { font-size: 0.833em; }
.smaller { font-size: 0.694em; }
.smallest{ font-size: 0.579em; }

blockquote {
  border-left: 5px solid var(--color-primary);
  background: var(--color-code-bg);
  padding: 10px;
  padding-left: 12px;
  margin-left: 16px;
  margin-right: 0;
  border-radius: 0px 4px 4px 0px;
}

/* abstract paragraph style */
.abstract {
    line-height: 170%;
}

/* kbd */
.kbd {
  padding: 2px 5px;
  font-family: var(--font-code,"Menlo","Monaco", "Consolas","Liberation Mono", "Courier New", monospace);
}

/* danger alert text style */

.danger {
  color: #721c24;
  display: block;
  background: #f8d7da;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
}

/* div styles --------------------------------------------------------------- */

/** div style for instructions **/
.boxy {
 /*border: 1px solid var(--color-primary);*/
 background-color: var(--color-boxy-bg);
 border: 1px solid var(--color-border);
 border-left: 6px solid var(--color-border);
 border-radius: 0px 4px 4px 0px;
 padding: 10px 10px 0px 10px;
 margin: 10px 0px 10px 0px;
 position: relative;
}

.boxy::before {
  background-color: var(--color-border) !important;
}

.boxy-primary {
  color: #3c787f;
  background-color: #edf4f5;
  border-color: #c9dfe2;
  border-left-color: #3c787f;
}

.boxy-primary::before {
  background-color: #3c787f !important;
}

.boxy-orange {
 color: #bf6300;
 background-color: #fdf1e5;
 border-color: #fad7b2;
 border-left-color: #bf6300;
}

.boxy-orange::before {
  background-color: #bf6300 !important;
}

.boxy-warning {
 color: #8a6d3b;
 background-color: #fcf8e3;
 border-color: #faebcc;
 border-left-color: #8a6d3b;
}

.boxy-warning::before {
  background-color: #8a6d3b !important;
}

.boxy-success {
 color: #3c763d;
 background-color: #dff0d8;
 border-color: #d6e9c6;
 border-left-color: #3c763d;
}

.boxy-success::before {
  background-color: #3c763d !important;
}

.boxy-danger {
 color: #a94442;
 background-color: #f2dede;
 border-color: #ebccd1;
 border-left-color: #a94442;
}

.boxy-danger::before {
  background-color: #a94442 !important;
}

.boxy-info {
 color: #31708f;
 background-color: #d9edf7;
 border-color: #bce8f1;
 border-left-color: #31708f;
}

.boxy-info::before {
  background-color: #31708f !important;
}

/* fa exclamation */
.boxy-exclamation::before {
  content: "\f12a";
  /*display: inline-block;*/
  font-family: "Font Awesome 5 Free";
  font-size: 15px;
  font-weight: 900;
  height: 24px;
  width: 24px;
  color: white;
  border-radius: 50%;
  -moz-border-radius: 50%;
  left: -15px;
  text-align: center;
  text-indent: 1px;
  position: absolute;
  z-index: 1;
}

/* fa lightbulb */
.boxy-lightbulb::before {
  content: "\f0eb";
  /*display: inline-block;*/
  font-family: "Font Awesome 5 Free";
  font-size: 15px;
  font-weight: 900;
  height: 24px;
  width: 24px;
  color: white;
  border-radius: 50%;
  -moz-border-radius: 50%;
  left: -15px;
  text-align: center;
  text-indent: 1px;
  position: absolute;
  z-index: 1;
}

/* fa clipboard-list */
.boxy-clipboard-list::before {
  content: "\f46d";
  /*display: inline-block;*/
  font-family: "Font Awesome 5 Free";
  font-size: 15px;
  font-weight: 900;
  height: 24px;
  width: 24px;
  color: white;
  border-radius: 50%;
  -moz-border-radius: 50%;
  left: -15px;
  text-align: center;
  text-indent: 1px;
  position: absolute;
  z-index: 1;
}

/* fa comments */
.boxy-comments::before {
  content: "\f086";
  /*display: inline-block;*/
  font-family: "Font Awesome 5 Free";
  font-size: 15px;
  font-weight: 900;
  height: 24px;
  width: 24px;
  color: white;
  border-radius: 50%;
  -moz-border-radius: 50%;
  left: -15px;
  text-align: center;
  text-indent: 1px;
  position: absolute;
  z-index: 1;
}

/* fa desktop */
.boxy-desktop::before {
  content: "\f108";
  /*display: inline-block;*/
  font-family: "Font Awesome 5 Free";
  font-size: 15px;
  font-weight: 900;
  height: 24px;
  width: 24px;
  color: white;
  border-radius: 50%;
  -moz-border-radius: 50%;
  left: -15px;
  text-align: center;
  text-indent: 1px;
  position: absolute;
  z-index: 1;
}

/* fa cloud */
.boxy-cloud::before {
  content: "\f0c2";
  /*display: inline-block;*/
  font-family: "Font Awesome 5 Free";
  font-size: 15px;
  font-weight: 900;
  height: 24px;
  width: 24px;
  color: white;
  border-radius: 50%;
  -moz-border-radius: 50%;
  left: -15px;
  text-align: center;
  text-indent: 1px;
  position: absolute;
  z-index: 1;
}

/* fa check */
.boxy-check::before {
  content: "\f00c";
  /*display: inline-block;*/
  font-family: "Font Awesome 5 Free";
  font-size: 15px;
  font-weight: 900;
  height: 24px;
  width: 24px;
  color: white;
  border-radius: 50%;
  -moz-border-radius: 50%;
  left: -15px;
  text-align: center;
  text-indent: 1px;
  position: absolute;
  z-index: 1;
}

/* fa times cross */
.boxy-times::before {
  content: "\f00d";
  /*display: inline-block;*/
  font-family: "Font Awesome 5 Free";
  font-size: 15px;
  font-weight: 900;
  height: 24px;
  width: 24px;
  color: white;
  border-radius: 50%;
  -moz-border-radius: 50%;
  left: -15px;
  text-align: center;
  text-indent: 1px;
  position: absolute;
  z-index: 1;
}

/* fa skull */
.boxy-skull::before {
  content: "\f54c";
  /*display: inline-block;*/
  font-family: "Font Awesome 5 Free";
  font-size: 15px;
  font-weight: 900;
  height: 24px;
  width: 24px;
  color: white;
  border-radius: 50%;
  -moz-border-radius: 50%;
  left: -15px;
  text-align: center;
  text-indent: 1px;
  position: absolute;
  z-index: 1;
}

/* Indent first line when icon is present */
.boxy-exclamation > p:first-child, .boxy-lightbulb > p:first-child, .boxy-clipboard-list > p:first-child, .boxy-comments > p:first-child, .boxy-desktop > p:first-child, .boxy-cloud > p:first-child, .boxy-check > p:first-child, .boxy-times > p:first-child, .boxy-skull > p:first-child {
  text-indent: 10px;
}

/* change colours for blockquote and links inside boxy */
.boxy-orange > a {
  color: #bf6300;
}
.boxy-success > a {
  color: #3c763d;
}
.boxy-warning > a {
  color: #8a6d3b;
}
.boxy-danger > a {
  color: #a94442;
}
.boxy-info > a {
  color: #31708f;
}

.boxy-orange > blockquote {
  border-left-color: #bf6300;
}
.boxy-success > blockquote {
  border-left-color: #3c763d;
}
.boxy-warning > blockquote{
  border-left-color: #8a6d3b;
}
.boxy-danger > blockquote {
  border-left-color: #a94442;
}
.boxy-info > blockquote {
  border-left-color: #31708f;
}

/* IMAGES ------------------------------------------------------------------- */

/* image styling */
img {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.fancyimage {
  -webkit-box-shadow: 1px 1px 6px var(--color-shadow);
  -moz-box-shadow: 1px 1px 6px var(--color-shadow);
  box-shadow: 1px 1px 6px var(--color-shadow);
  border-radius: 3px;
}

.logo-navbar {
  height: 33px;
  margin-top: 0px;
  margin-right: 20px;
}

.logo-one {
  position: relative;
  height: 50px;
  top: -105px;
  float: right;
}

.logo-two {
  position: relative;
  height: 50px;
  top: -146px;
  float: right;
}

.logo-three {
  position: relative;
  height: 50px;
  top: -168px;
  float: right;
}

.figure {
 margin-bottom: 12px;
}

/* Buttons and Links -------------------------------------------------------- */

/* link colour */
a, table a{
  color: var(--color-primary);
  text-decoration: none;
}

a:hover, table a:hover {
  color: var(--color-primary);
  text-decoration: underline;
}

/* table even shading colour */
.even {
    background-color: var(--color-code-bg);
}

/* schedule table */
.table-schedule {
  display: inline-block;
  padding: 25px;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 6px var(--color-shadow);
  -moz-box-shadow: 1px 1px 6px var(--color-shadow);
  box-shadow: 1px 1px 6px var(--color-shadow);
  margin-bottom: 20px;
}

.table-schedule td, .table-schedule th {
  border: none !important;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 60%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding: 0 30px 0 30px;
}

button.btn {
 height: 35px;
 width: 35px;
}

button.btn-collapse {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

button.btn-collapse-normal {
  color: white;
  border-color: var(--color-primary);
  background-color: var(--color-primary);
}

button.btn-collapse-normal:hover {
    background-color: white;
    color: var(--color-primary);
    border-color: white;
    box-shadow: 0px 3px 40px -9px var(--color-primary);
    -webkit-box-shadow: 0px 3px 40px -9px var(--color-primary);
    -moz-box-shadow: 0px 3px 40px -9px var(--color-primary);
}

button.btn-collapse-optional {
  color: white;
  border-color: var(--color-optional);
  background-color: var(--color-optional);
}

button.btn-collapse-optional:hover {
    background-color: white;
    color: var(--color-optional);
    border-color: white;
    box-shadow: 0px 3px 30px -9px var(--color-optional);
    -webkit-box-shadow: 0px 3px 30px -9px var(--color-optional);
    -moz-box-shadow: 0px 3px 30px -9px var(--color-optional);
}

button.btn-collapse-warning {
  color: white;
  border-color: #8a6d3b;
  background-color: #8a6d3b;
}

button.btn-collapse-warning:hover {
    background-color: white;
    color: #8a6d3b;
    border-color: white;
    box-shadow: 0px 3px 30px -9px #8a6d3b;
    -webkit-box-shadow: 0px 3px 30px -9px #8a6d3b;
    -moz-box-shadow: 0px 3px 30px -9px #8a6d3b;
}

button.btn-collapse-success {
  color: white;
  border-color: #3c763d;
  background-color: #3c763d;
}

button.btn-collapse-success:hover {
    background-color: white;
    color: #3c763d;
    border-color: white;
    box-shadow: 0px 3px 30px -9px #3c763d;
    -webkit-box-shadow: 0px 3px 30px -9px #3c763d;
    -moz-box-shadow: 0px 3px 30px -9px #3c763d;
}

button.btn-collapse-danger {
  color: white;
  border-color: #a94442;
  background-color: #a94442;
}

button.btn-collapse-danger:hover {
    background-color: white;
    color: #a94442;
    border-color: white;
    box-shadow: 0px 3px 30px -9px #a94442;
    -webkit-box-shadow: 0px 3px 30px -9px #a94442;
    -moz-box-shadow: 0px 3px 30px -9px #a94442;
}

button.btn-collapse-info {
  color: white;
  border-color: #31708f;
  background-color: #31708f;
}

button.btn-collapse-info:hover {
    background-color: white;
    color: #31708f;
    border-color: white;
    box-shadow: 0px 3px 30px -9px #31708f;
    -webkit-box-shadow: 0px 3px 30px -9px #31708f;
    -moz-box-shadow: 0px 3px 30px -9px #31708f;
}

button.btn.collapsed:before
{
    content: '\f078';
    display: block;
    width: 15px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 80%;
}

button.btn:before
{
    content: '\f077';
    display: block;
    width: 15px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 80%;
}

/** top title code **/
div.block-title {
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--color-border);
  border-top: 1px solid var(--color-border);
  border-left: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
  border-radius: 4px;
  padding: 2px 2px 2px 10px;
  margin-top: auto;
  margin-bottom: auto;
  color: white;
}

/* navbar ------------------------------------------------------------------- */

div.navbar-inverse {
  background-color: var(--color-primary);
}

.navbar-inverse .navbar-nav li a {
  color: white !important;
}

.navbar-default {
  /*border-bottom: 1px solid var(--color-border);
  background-color: var(--color-boxy-bg);*/
  border: none;
  background-color: white;
}

ul.nav a:hover {
  color: var(--color-primary);
}

.navbar-header a:hover {
  color: lightgrey !important;
}

/*.navbar-inverse .navbar-brand {
  color: white;
}*/

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: var(--color-primary);
  background-color: white;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: white;
  background-color: #566573;
}

.navbar .container {
  max-width: 940px !important;
}

/* footer ------------------------------------------------------------------- */

.footer-container {
  max-width: 940px !important;
}

.footer {
  color: #bdbdbd;
  position: fixed;
  padding-top: 4px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 35px;
  /*border-top: 1px solid var(--color-border);
  background-color: var(--color-boxy-bg);*/
  background-color: white;
  border: none;
}

/* .footer p {
  color: lightgrey;
}*/

.footer a {
  color: var(--color-primary);
  text-decoration: none;
}

.footer a:hover {
  /*color: lightgrey;*/
  text-decoration: none;
}

/* homepage -------------------------------------------------------------------- */

.landing-container {
  max-width: 940px !important;
}

.landing-div {
  background-image: url('landing.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left bottom;
  height: 480px;
}

@media only screen and (max-width: 575px) {
  .flex-box {
    text-align: center;
  }
  .landing-update {
    text-align: center;
  }
  .landing-div {
    height: 600px;
  }
}

.landing-subtitle {
  font-size: 1.3em;
  font-weight: 200;
  line-height: 1;
  margin-bottom: 1em;
  margin-left: 2px;
}

.landing-title {
  font-size: 2.8em;
  font-weight: 200;
  line-height: 1.2;
  margin-bottom: 0.7em;
}

.landing-bullets {
  font-size:1.5em;
  font-weight:200;
  line-height:1.4;
}

/* tocify ---------------------------------------------------------------------- */

.tocify li {
 font-size: 0.9em;
}

.tocify {
  border: none;
  border-radius: 0;
}

/* floating bar highlight */
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  z-index: 2;
  color: var(--color-primary);
  font-weight: 600;
  background-color: var(--color-code-bg);
  border: none;
  border-left: 6px solid var(--color-border);
}

/* COLUMNS ------------------------------------------------------------------- */

.pull-center{
  width: 100%;
}

/* float 50%-50% width */
.pull-right-50 {
  width: 49%;
  float: right;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.pull-left-50 {
  width: 49%;
  float: left;
  margin-right: 0.5%;
  margin-left: 0.5%;
}

/* float 30% 70% width */
.pull-right-30 {
  width: 29%;
  float: right;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.pull-right-70 {
  width: 69%;
  float: right;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.pull-left-30 {
  width: 29%;
  float: left;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.pull-left-70 {
  width: 69%;
  float: left;
  margin-right: 0.5%;
  margin-left: 0.5%;
}

/* float 40% 60% width */
.pull-right-40 {
  width: 39%;
  float: right;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.pull-right-60 {
  width: 59%;
  float: right;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.pull-left-40 {
  width: 39%;
  float: left;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.pull-left-60 {
  width: 59%;
  float: left;
  margin-right: 0.5%;
  margin-left: 0.5%;
}

/* float 30% 70% width */
.pull-right-30 {
  width: 29%;
  float: right;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.pull-right-70 {
  width: 69%;
  float: right;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.pull-left-30 {
  width: 29%;
  float: left;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.pull-left-70 {
  width: 69%;
  float: left;
  margin-right: 0.5%;
  margin-left: 0.5%;
}

/* blur panel -------------------------------------------------------------------------------- */

.blur-title {
  position: absolute;
  z-index: 1;
  font-weight: bold;
}

.blur-outer .blur-title {
  transition: .3s ease;
  opacity: 0;
}

.blur-outer:hover .blur-title {
 transition: .3s ease;
 opacity: 1;
}

.blur-content {
  transition: .3s ease;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
}

.blur-outer:active .blur-content {
 transition: .3s ease;
 filter: none;
}

.blur-outer:active .blur-title {
 transition: .3s ease;
 opacity: 0;
}

/* blur effect ------------------------------------------------------------------------------- */

.blur-effect {
  transition: .2s ease;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
}

.blur-effect:active {
 transition: .2s ease;
 filter: none;
}
